<article class="shangou row">
    <h3>
        <a href="javascript:;" class="angle-right">
            π用药<i class="fa fa-clock-o"></i>
            <div class="time">
                <span class=hours>135</span> :
                <span class=minutes>35</span> :
                <span class=seconds>56</span>
            </div>
        </a>
    </h3>
    <section class="sg-list">
        <ul class="pro-wrapper clearfix">
            <li class=pro-item>
                <a href="javascript:;">
                    <section class=img-wrapper><img src="../images/ex1.gif" alt="药品图片"></section>
                    <p class="this-price">
                        <span class="sales fr ft12">8.8折</span>
                        <span>¥12.50</span>
                    </p>
                </a>
                <a href="javascript:;">
                    <section class=img-wrapper><img src="../images/ex1.gif" alt="药品图片"></section>
                    <p class="this-price">
                        <span class="sales fr ft12">8.8折</span>
                        <span>¥12.50</span>
                    </p>
                </a>
                <a href="javascript:;">
                    <section class=img-wrapper><img src="../images/ex1.gif" alt="药品图片"></section>
                    <p class="this-price">
                        <span class="sales fr ft12">8.8折</span>
                        <span>¥12.50</span>
                    </p>
                </a>
            </li>
        </ul>
    </section>
</article>