@{
    ViewBag.Title = Shop.Web.ViewModel.ApplicationConfigs.GetConfigInfo.ConfigName;
    Layout = "~/Areas/Phone/Views/Shared/_Layout.cshtml";
}

<header class="home">
    <div class="logo tc"><img src="/Resource/images/logo.png" height="217" width="189" alt="">
    </div>
    <div class="s-link tc" onclick=" window.location.href = '/yaodian/search' "><a href="javascript:;">输入药品名称/疾病名称搜索</a>
    </div>
    <div class="cat dis-flex tc">
        <a href="/yaodian/commodity" class=zhao>科室找药</a>
        <a href="javascript:;" class=yao>π用药</a>
        <a href="javascript:;" class=man>男科</a>
        <a href="javascript:;" class=woman>妇科</a>
    </div>
</header>
<div class="main">
    @Html.Action("FlashSalesItem")
</div>