@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <title>顶正网上药店手机版</title>
    <link rel="stylesheet" href="http://wap.7lk.com/min/7lk.php?b=assets/wap/css&f=wx2-index.css,wx2-common.css">
</head>
<body>
    <!-- 头部搜索 -->
    <section class="top-search-content">
        <img class="top-logo-img" alt="顶正网上药店" title="顶正网上药店" src="/Content/login/images/Phone/new-index-logo_03.png">
        <div class="top-search-input radius" onclick="window.location.href='/yaodian/search'">输入药品名称/疾病名称搜索</div>
        <ul>
            <li>
                <a href="/yaodian/commodity" title="科室找药">
                    <img src="/Content/login/images/Phone/wx2_index_06.png" alt="科室找药">
                    科室找药
                </a>
            </li>
            <li>
                <a href="javascript:;" title="π用药">
                    <img src="/Content/login/images/Phone/wx2_index_05.png" alt="π用药">
                    π用药
                </a>
            </li>

            <li>
                <a href="javascript:;" title="男标">
                    <img src="/Content/login/images/Phone/wx2_index_07.png" alt="男标">
                    男标
                </a>
            </li>
            <li>
                <a href="javascript:;" title="妇标">
                    <img src="/Content/login/images/Phone/wx2_index_08.png" alt="妇标">
                    妇标
                </a>
            </li>
        </ul>
    </section>
    <!--占位符-->
    <div class="placeholderBox"></div>
    <!--底部浮动菜单-->
    <div class="toTop">
        <a href="/yaodian/search" alt="首页" class="nav-icon nav-index on">
            <i></i>
            找药
        </a>
        <a href="javascript:;" class="nav-icon nav-sg ">
            <i></i>
            98券
        </a>
        <a href="javascript:;" alt="首页" class="nav-icon nav-gwc ">
            <i></i>
            购物车标
        </a>
        <a href="javascript:;" alt="首页" class="nav-icon nav-grzx ">
            <i></i>
            我的（会员标）
        </a>
    </div>
</body>
</html>