@imgpath: "../images";
.wthc(@c: rgba(0, 0, 0, .1)) {
    -webkit-tap-highlight-color: @c;
}

.bs(@x: 0, @y: 0, @blur: 1px, @c: #fff) {
    -webkit-box-shadow+: @x @y @blur @c;
    box-shadow+: @x @y @blur @c;
}

.mul-line(@num: 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @num;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex(@r: 1) {
    -webkit-flex: @r;
    flex: @r;
}

.trf-tsl(@x: 0, @y: -50%) {
    -webkit-transform+_: translate(@x, @y);
    transform+_: translate(@x, @y);
}

.trf-scl(@r: .5) {
    -webkit-transform+_: scale(@r);
    transform+_: scale(@r);
}

.trf-rot(@r: 180deg) {
    -webkit-transform+_: rotate(@r);
    transform+_: rotate(@r);
}

.trans(@prop: all, @time: .5s, @tf: linear) {
    -webkit-transition+_: @arguments;
    transition+_: @arguments;
}
.trans-trf(@time:.3s,@tf:linear){
    -webkit-transtion+_:-webkit-transform @time @tf;
    transition+_:transform @time @tf;
}
.thc(@c: rgba(0, 0, 0, 0.1)) {
    -webkit-tap-highlight-color: @c;
}

.am(@an: an, @time: 1s, @tf: linear) {
    -webkit-animation: @arguments;
    animation: @arguments;
}

.br(@r: 3px) {
    border-radius: @r;
}

.wost() {
    -webkit-overflow-scroll: touch;
}

.usn() {
    -webkit-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

i,
em,
label {
    font-style: normal;
    font-weight: 400;
}

input,
textarea {
    -webkit-appearance: none;
    &:focus {
        outline: none;
        box-shadow: 0 0 3px #59d;
    }
}

.dis-flex {
    display: -webkit-flex;
    display: flex;
}

.flex1() {
    -webkit-flex: 1;
    flex: 1;
}

.dis-il() {
    display: inline;
}

.dis-ib() {
    display: inline-block;
}

.dis-b() {
    display: block;
}

.br3 {
    border-radius: 3px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.color-light {
    color: #999;
}

.ft12 {
    font-size: 12px;
}

.color-light {
    color: #999;
}

.btn {
    display: inline-block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
    margin-bottom: 0;
    border-radius: 3px;
}

.btn-able {
    background: #c00!important;
    color: #fff!important;
}

.btn-disable {
    background: #eee;
    color: #999!important;
    pointer-events: none;
}

.btn-border {
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.m5 {
    margin: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.p5 {
    padding: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.pl5 {
    padding-left: 5px;
}

.pr5 {
    padding-right: 5px;
}

img {
    max-width: 100%;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    background: #fff;
    color: #333;
    font: 87.5%/1.5 "Helvetica Neue", Helvetica, 'Microsoft Yahei', Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
    .wthc();
    color: #333;
    text-decoration: none;
}

.inner {
    padding: 0 5px;
    &:extend(.br3);
}

.header {
    height: 3rem;
    line-height: 3rem;
    background: #eee;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;
    h2{
        font-size: 1.25rem;
        padding: 0 50px;
    }
    .goback, .ico-search, .text-search {
        position: absolute;
        height: 100%;
        width: 50px;
        top: 50%;
        right: 0;
        padding: 0 5px;
        font-size: 1.25rem;
        color: #eee;
        .trf-tsl(0, -50%);
    }
    .goback {
        left: 0;
        &:before {
            content: "";
            .dis-ib();
            width: .75rem;
            height: .75rem;
            border: 2px solid #fff;
            border-width: 2px 0 0 2px;
            .trf-rot(-45deg);
        }
    }
}

[data-theme=skin1] .header {
    background: #0FB3B3;
}

[data-theme=skin2] .header {
    background: #7B2EA8;
}

[data-theme=skin3] .header {
    background: #547393;
}

.pro {
    padding: 3rem 0;
    .pro-cat {
        position: fixed;
        top: 3rem;
        bottom: 3rem;
        width: 25%;
        background: #eee;
        overflow-x: hidden;
        li {
            border: 1px solid #ddd;
            border-width: 0 1px 1px 0;
            line-height: 1.75;
            padding: 8px 5px 8px 10px;
            &.on {
                background: #fff;
                border-right-color: #fff;
            }
        }
    }
    .pro-sub-cat {
        margin-left: 25%;
        padding: 10px;
        li {
            float: left;
            width: 33.33%;
            a {
                .dis-b();
                padding: 5px;
                img {
                    width: 100%;
                    height: 65px;
                }
                .pro-name {
                    white-space: nowrap;
                    margin-top: 5px;
                    overflow-y: hidden;
                }
                &:active,
                &.on {
                    color: #ea2f53;
                }
            }
        }
    }
}

header.s {
    position: static;
}

.search-box {
    position: relative;
    padding-left: 10px;
    width: 100%;
    z-index: 23;
    .s-section {
        position: relative;
        .flex(1);
        .ipt-s {
            background: #fff url("@{imgpath}/s.png") no-repeat 5px;
            padding-left: 20px;
            width: 100%;
            padding: 5px;
            padding-left: 25px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: .875rem;
        }
        ul {
            position: absolute;
            top: 37px;
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            background: #fff;
            color: #333;
            border: 1px solid #ddd;
            border-radius: 3px;
            text-align: left;
            line-height: 2.5;
            li {
                border-top: 1px solid #ddd;
                margin-top: -1px;
                padding: 0 10px
            }
        }
    }
    .btn-s {
        margin: 10px;
    }
}

@o-color: #EA2F53;
.order {
    background: #eee;
    a {
        .flex();
        padding: 10px;
        position: relative;
        &.on {
            color: @o-color;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                background: @o-color;
            }
            i {
                color: @o-color;
            }
        }
    }
    .up i{
            .trf-rot(-180deg);
        }
    i {
        margin: 3px;
        vertical-align: -1px;
        color: #555;
        .trans-trf();
    }
}


.pro-wrapper {
    padding: 5px;
    .pro-item {
        float: left;
        width: 50%;
        a {
            display: block;
            padding: 5px;
            img {
                width: 100%;
                height: 150px;
                padding: 5px;
                border: 1px solid #ddd;
            }
            .pro-info {
                .mul-line();
            }
            .sales {
                background: @o-color;
                color: #fff;
                padding: 0 6px;
                .br(3px);
            }
        }
    }
}

.this-price {
    color: @o-color;
}

.footer {
    &:extend(.header);
    bottom: 0;
    .nav {
        height: 100%;
        a {
            .flex1();
            color: #999;
            padding-top: 13px;
            position: relative;
            i {
                position: absolute;
                top: 5px;
                left: 50%;
                font-size: 1.25rem;
                .trf-tsl(-50%, 0);
            }
            &.on {
                color: #ea2f53;
            }
        }
    }
}
