@using System.Data
@using Shop.Model
@model List<Shop.Model.Menu>
@{
    ViewBag.Title = "π用药";
    Layout = "~/Areas/Phone/Views/Shared/_Layout.cshtml";
}
@section Head
{
    <script src="~/Scripts/Mobile/cuntdown.js"></script>
}
<header class="tc header @*withlogo*@">
    <a href='@Url.RouteUrl("Phone_yaodian")' class="goback"></a>
    <h2>π用药</h2>
    @*<img src="" alt="LOGO" class="logo fl">
    <div class="fl bigword">
        <h4>随身药房</h4>
        <p>首批国家食品药监局认证网上药店</p>
    </div>*@
</header>
<div class="main pro flashsale">
    <div class=" fs-cat ">
        <a onclick='loadFlashSales(this,@(0))' class='on' data-menuid="0">全部</a>
        @foreach (var menu in Model)
        {
            <a onclick="loadFlashSales(this,@menu.Id)" data-menuid="@menu.Id">@menu.Menu_Name</a>
        }
    </div>
    <div class="rows">
        <dl class='fs-list'>
            @Html.Partial("Partial/FlashSalesItemList", ViewBag.FlashSalesDataTable as DataTable)
        </dl>
    </div>
</div>
@section Js
{
    <script type="text/javascript">

        var loadFlashSales = function (self, menuId) {
            var $self = $(self);
            var $panel = $('.fs-list');
            $self.addClass('on').siblings().removeClass('on');
            $.ajax({
                url: "/Phone/FlashSales/FlashSalesItemList",
                data: { "menuId": menuId },
                success: function (data) {
                    if (data) {
                        $panel.html(data);
                        $('.time-auto',$panel).countdown();
                    }
                    else $panel.html('');
                }
            });
        }

        $(function () {
            $('.time-auto').countdown();
        });

    </script>
}
