@model List<Shop.Model.Navigation>
<aside class="pro-cat">
    <ul class="nav-item">
        @foreach (var nav in Model)
        {
             <li class='nav-item' onclick="loadTagList(@nav.Id,this)" id="@nav.Id">@nav.Navigation_Name</li>
        }
    </ul>
</aside>

<input id="navid" type="hidden" value="@ViewBag.NavId" />