@model List<Shop.Model.Menu>
@foreach (var tag in Model)
{
    <li>
        <a href="/yaodian/list/@tag.Id" class=on>
            <img src="@tag.Menu_ImgPath" alt="@tag.Menu_Name">
            <div class="pro-name">@tag.Menu_Name</div>
        </a>
    </li>
}