@{
    ViewBag.Title = "查找药品";
    Layout = "~/Areas/Phone/Views/Shared/_Layout.cshtml";
}
<header class=" header s">
    <a href='@Url.RouteUrl("Phone_yaodian")' class="goback"></a>
    @using (Html.BeginForm("CommodityList", "Commodity", FormMethod.Post,new{@class=""}))
    {
        <div class="search-box">
            <div class="s-section">
                <input type="hidden" name="tagId" value="0">
                <input type="text" class='ipt-s' name="search" id="keywords" placeholder="输入药品名称/疾病名称搜索" required>
                <ul class="searchTips"></ul>
            </div>
            <input type="submit" class="btn btn-s" value=搜索>
        </div>
    }
</header>
@section Js{
    <script type="text/javascript">
        $(function () {

        });

        var searchBox = $("[name=search]");
        searchBox.on("tap keyup", function () {
            setTimeout(showSearchTips, 300);
        });

        function showSearchTips() {
            var search = $.trim(searchBox.val());
            if (search == "") {
                hideSearchTips();
                return;
            }

            $.ajax({
                type: "post",
                url: "/Phone/Search/GetDrugList",
                data: { query: search },
                dataType: "json",
                success: function (json) {
                    if (json) {
                        var html = '';
                        $.each(json, function (key, value) {
                            html += "<li>" + value.keyword + "</li>";
                        });
                        $(".searchTips").empty().html(html);
                        $(".searchTips").show();
                        $(".searchTips li").click(function () {
                            var search = $(this).html();
                            hideSearchTips();
                            $("[name=search]").val(search);
                            location.href = "/Phone/Commodity/CommodityList?search=" + search + "&tagId=0";
                        })
                    } else {
                        hideSearchTips();
                    }
                }
            })
        }
        function hideSearchTips() {
            $(".searchTips").hide();
        }
    </script>
}
