@{
    ViewBag.Title = ViewBag.SearchTitle ?? "药品列表";
    Layout = "~/Areas/Phone/Views/Shared/_Layout.cshtml";
}

<input id="tag-id" type="hidden" value="@ViewBag.TagId"/>
<input id="search-key" type="hidden" value="@ViewBag.Search" />
<div id="commodity-list"></div>


<footer>
    @section Js
    {
        <script type="text/javascript">
            var para = {};
            para.pageNum = 1, para.numPerPage = 100, para.sortName = '', para.sortOrder = '', para.seacch = '';
            var loadCommodityList = function (para) {
                $.ajax({
                    url: "/Phone/Commodity/CommodityItemList",
                    data: para,
                    success: function (data) {
                        $('#commodity-list').html(data).show(500);
                    }
                });
            }

            var defaultTagId = $('#tag-id').val();
            var searchKey = $('#search-key').val().trim();
            para.tagId = defaultTagId;
            para.seacch = searchKey;
            $(function () {
                loadCommodityList(para);
            });
        </script>
    }

</footer>