@{
    ViewBag.Title = "啦啦啦啦啦";
    Layout = "~/Areas/Phone/Views/Shared/_Layout.cshtml";
}

<header class="tc header">
    <a href='/yaodian' class="goback"></a>
    <h2>科室找药</h2>
    <a href="/yaodian/search" class='ico-search'><i class="fa fa-search"></i></a>
</header>
    <div class="main pro">
        @Html.Action("NavList");

        <article class='pro-sub-cat clearfix tc'>
            <ul class="tag-list">
                @*Js加载*@
            </ul>
        </article>
    </div>
    @section Js
    {
        <script type="text/javascript">

            var loadTagList = function (navId, self) {
                if (self) {
                    var $self = $(self);
                    $self.addClass('on').siblings().removeClass('on');
                } else {
                    $('.nav-item li').eq(0).addClass('on');
                }
                $.ajax({
                    url: '/phone/Commodity/TagList',
                    data: { "navId": navId },
                    success: function (data) {
                        $('.tag-list').html(data);
                    }
                });
            }
            var defNavId = $('#navid').val();

            $(function () {
                loadTagList(defNavId);
            });
        </script>
    }
