@{
    ViewBag.Title = "科室找药";
    Layout = "~/Areas/Phone/Views/Shared/_Layout.cshtml";
}


<header class="tc header">
    <a href='/yaodian' class="goback"></a>
    <h2>科室找药</h2>
    <a href="/yaodian/search" class='ico-search'><i class="fa fa-search"></i></a>
</header>
<input type="hidden" id="nav-key" value="@(Request.QueryString["nk"]==null?"":Request.QueryString["nk"].ToString())" />
<div class="main pro">
    @Html.Action("NavList");

    <article class='pro-sub-cat clearfix tc'>
        <ul class="tag-list">
            <!--Js加载-->
            @*@Html.Action("TagList", "Commodity", new { navId =""});*@
        </ul>
    </article>
</div>
@section Js
    {

    <script type="text/javascript">
        var loadTagList = function (navId, self) {
            if (self) {
                var $self = $(self);
                $self.addClass('on').siblings().removeClass('on');
            } else {
                $('.nav-item li').eq(0).addClass('on');
            }
            $.ajax({
                url: '/phone/Commodity/TagList',
                data: { "navId": navId },
                success: function (data) {
                    $('.tag-list').html(data);
                }
            });
        }
        var defNavId = $('#navid').val();
        var navKey = $('#nav-key').val();
        $(function () {
            if (navKey == 'man') {
                $(".nav-item[id='55']").addClass('on').siblings().removeClass('on');
                loadTagList(55);
            } else if (navKey == 'woman') {
                $(".nav-item[id='53']").addClass('on').siblings().removeClass('on');
                loadTagList(53);
            } else {
                loadTagList(defNavId);
            }
           
        });
    </script>
}
